

/*

 Dream travel

*/
/* resturent css*/

  .page-heading h3{ font-size: 36px;
                font-weight: bold;
                margin-bottom: 14px;
                color: #c4bcbc !important;

            }

        .stat-block {
            border: 2px solid #d8d8d8;
            color: #303030;
            padding: 14px 4px;
            text-align: center;
            width: 125px;
            height: 100px;
            background-color: #eceaea;
        }

        .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list .list-item {
    display: inline-table;
}

a {
    display: inline-block;
    font-weight: bold;
   
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.content-offer{
        background: #ccc;
        color: #000;
        padding: 47px;

}
  .content-offer p{
    color: #000;
  }

.sideways{

    display: revert !important;
}
  .tabs-left>li {
  float: none;
 margin:0px;
  
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
     background: #3c3a39;
    border: none;
    border-radius: 0px;
    margin: 0px;
    color: #fff;
}
.nav-tabs>li>a:hover {
   
    line-height: 1.42857143;
    border: 1px solid transparent;
    
}
.tabs-left>li.active>a::after{/*content: "";*/
    position: absolute;
    top: 10px;
    right: -10px;
    border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 10px solid #f90;
    display: block;
    width: 0;}

    .carousel-indicators{

        position: inherit;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        margin-right: 55%;
        margin-left: 0%;
        list-style: none;
        background-color: #d2cfca8a;
        margin-top: 6px;
    }
    .carousel-indicators li{
        height: 8px;
        width: 35px;
    }

    ** Contact Us  Area Start
---------------------------*/
.contact-us {
  padding: 70px 0px 70px;
}
.contact-us .header-area {
  text-align: center;
  margin-bottom: 28px;
}
.contact-us .header-area .title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}
.contact-us .left-area {
  background: #fff;
}
.contact-us .left-area .contact-form {
  padding: 20px 30px 30px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.contact-us .left-area .contact-form ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.contact-us .left-area .contact-form ul li {
  list-style: none;
}
.contact-us .left-area .contact-form ul li .input-field {
  margin-bottom: 20px;
  background: none;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.contact-us .left-area .contact-form ul li .input-field:focus {
  border: 0px !important;
  border-bottom: 1px solid #0663fc !important;
}
.contact-us .left-area .contact-form ul li .input-field.textarea {
  margin-bottom: 15px;
}
.contact-us .left-area .contact-form .captcha-area li p {
  margin-bottom: 0px;
}
.contact-us .left-area .contact-form .captcha-area li img {
  max-width: 180px;
  display: inline-block;
}
.contact-us .left-area .contact-form .captcha-area li i {
  display: inline-block;
  margin-left: 15px;
  font-size: 22px;
  color: #777;
}
.contact-us .left-area .contact-form .captcha-area li .input-field {
  margin-bottom: 15px;
  background: none;
  max-width: 225px;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.contact-us .left-area .contact-form .captcha-area li .input-field:focus {
  border: 0px !important;
  border-bottom: 1px solid #0663fc !important;
}
.contact-us .left-area .contact-form .submit-btn {
  width: 180px;
  height: 50px;
  padding: 0px;
  background: #0663fc;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.contact-us .left-area .contact-form .submit-btn:hover {
  border: 1px solid #0663fc;
  background: #fff;
  color: #0663fc;
}
.contact-us .right-area .contact-info {
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  overflow: hidden;
}
.contact-us .right-area .contact-info .left {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.contact-us .right-area .contact-info .left .icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50px;
  text-align: center;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 9;
  text-align: center;
  display: block;
}
.contact-us .right-area .contact-info .left .icon img {
  display: inline-block;
}
.contact-us .right-area .contact-info .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}
.contact-us .right-area .contact-info .content .title {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  display: block;
}
.contact-us .right-area .contact-info .content a {
  display: block;
  margin-bottom: 0px;
  text-align: left;
}
.contact-us .right-area .social-links {
  padding-top: 20px;
}
.contact-us .right-area .social-links .title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #58606f;
  margin-top: -5px;
  margin-bottom: 18px;
}
.contact-us .right-area .social-links ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.contact-us .right-area .social-links ul li {
  display: inline-block;
}
.contact-us .right-area .social-links ul li a {
  font-size: 16px;
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin: 0px 3px;
  background: #f1f4fb;
  color: #0663fc;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.contact-us .right-area .social-links ul li a:hover {
  background: #0663fc;
  color: #fff;
}
.contact-us .input-field {
    width: 100%;
    height: 50px;
    padding: 0 0px;
    border-radius: 0px;
    color: #58606f;
    margin-bottom: 15px;
    border: 0px;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.main-breadcrumb-area .pages li {
    display: inline-block;
}
.main-breadcrumb-area .pages li a {
    position: relative;
    margin-right: 30px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #fff;
}


/*single page booking*/
.aside-right .price-area p small {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #9fb2f5;
  margin-left: -5px;
}
.aside-right .book-now-area {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px 20px;
  margin-top: 30px;
}
.aside-right .book-now .title {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0px;
  font-weight: 600;
  border-bottom: 1px dashed #d5d2d2;
  padding-bottom: 12px;
}
.aside-right .book-now .start-time1 {
  padding: 14px 0px 20px;
}
.aside-right .book-now .start-time1 span {
  display: block;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.aside-right .book-now .start-time1 input {
  width: 100%;
  height: 25px;
  font-size: 14px;
  padding: 0px 15px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.aside-right .book-now .start-time1 input::-moz-placeholder {
  color: #ddd !important;
}
.aside-right .book-now .start-time1 input::-webkit-placeholder {
  color: #ddd !important;
}
.aside-right .book-now .start-time1 input::-webkit-input-placeholder {
  color: #ddd !important;
}
.aside-right .book-now .start-time1 input::-moz-placeholder {
  color: #ddd !important;
}
.aside-right .book-now .start-time1 input:-ms-input-placeholder {
  color: #ddd !important;
}
.aside-right .book-now .start-time1 input::-ms-input-placeholder {
  color: #ddd !important;
}
.aside-right .book-now .start-time1 input::placeholder {
  color: #ddd !important;
}
.aside-right .book-now .people-count {
  padding-top: 15px;
  border-top: 1px dashed #d5d2d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aside-right .book-now .people-count .left .title {
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.aside-right .book-now .people-count .left p {
  font-size: 13px;
  margin-bottom: 0px;
  line-height: 18px;
}
.aside-right .book-now .people-count .right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.aside-right .book-now .people-count .right .qty ul li {
  display: inline-block;
  margin-right: 5px;
}
.aside-right .book-now .people-count .right .qty ul li:last-child {
  margin-right: 0px;
}
.aside-right .book-now .people-count .right .qty ul li .qttotal1 {
  color: #58606f;
  font-size: 12px;
  font-weight: 600;
}
.aside-right .book-now .people-count .right .qty ul li span {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 50%;
  color: #0663fc;
  -webkit-box-shadow: 0.656px 0.755px 20px 0px rgba(183, 183, 183, 0.3);
          box-shadow: 0.656px 0.755px 20px 0px rgba(183, 183, 183, 0.3);
}
.aside-right .book-now .people-count.child {
  margin-top: 20px;
}
.aside-right .book-now .extra-price-wizerd .title {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px dashed #d5d2d2;
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.aside-right .book-now .extra-price-wizerd .extra-list {
  padding-top: 10px;
}
.aside-right .book-now .extra-price-wizerd .extra-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}
.aside-right .book-now .extra-price-wizerd .extra-list.two {
  border-top: 1px dashed #d5d2d2;
  margin-top: 4px;
}
.aside-right .book-now .book-btn {
  display: block !important;
  width: 100% !important;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 30px;
  display: inline-block;
  color: #fff;
  background: #0663fc;
  border: 1px solid #0663fc;
  cursor: pointer;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.aside-right .book-now .book-btn:hover {
  color: #0663fc;
  background: #fff;
}
.aside-right .book-now .book-btn:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: 0px;
}
.aside-right .organize-by {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px 20px;
  margin-top: 30px;
}
.aside-right .organize-by .title {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0px;
  font-weight: 600;
  border-bottom: 1px dashed #d5d2d2;
  padding-bottom: 12px;
}
.aside-right .organize-by .organizer-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 0px;
}
.aside-right .organize-by .organizer-profile .left img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 20px;
  border: 2px solid #0663fc;
  border-radius: 50%;
}
.aside-right .organize-by .organizer-profile .right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.aside-right .organize-by .organizer-profile .right .title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.aside-right .organize-by .organizer-profile .right .date {
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 2px;
  margin-top: -3px;
}
.aside-right .organize-by .organizer-profile .right .stars {
  font-size: 12px;
  color: #ff9800;
}
.aside-right .organize-by .organizer-profile .right .stars i {
  margin-right: -3px;
}
.aside-right .organize-by .organizer-profile .right .review {
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 0px;
}

/*-------------------------------*/

/*-------------------------------
 Product Details area start
--------------------------------*/
.single-details {
  padding: 70px 0px 55px;
}

.model-gallery-image .one-item-slider .item img {
  max-width: 100%;
}
.model-gallery-image .all-item-slider {
  position: relative;
  margin: 12px 0px 0px;
}
.model-gallery-image .all-item-slider li {
  margin: 0px 6px;
  cursor: pointer;
}
.model-gallery-image .all-item-slider li:focus {
  outline: 0px;
}
.model-gallery-image .all-item-slider li img {
  max-width: 100%;
}
.model-gallery-image .all-item-slider .slick-slide {
  margin: 0px 10px;
}
.model-gallery-image .all-item-slider .slidPrv4.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  z-index: 2;
  background: #0663fc;
  text-align: center;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0.7;
  cursor: pointer;
}
.model-gallery-image .all-item-slider .slidPrv4.slick-arrow:hover {
  opacity: 1;
}
.model-gallery-image .all-item-slider .slidNext4.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  z-index: 2;
  background: #0663fc;
  text-align: center;
  width: 30px;
  line-height: 30px;
  height: 30px;
  color: #fff;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.model-gallery-image .all-item-slider .slidNext4.slick-arrow:hover {
  opacity: 1;
}

.overview-area {
  margin-top: 45px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
.overview-area .title {
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 16px;
}
.available-rooms{
  margin-top: 30px;
}
.overview-area .feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overview-area .feature-list li {
  max-width: 33.333%;
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  margin-bottom: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overview-area .feature-list li img {
  margin-right: 5px;
}

.map-location-area {
  padding-top: 30px;
}
.map-location-area .title {
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
}

.tour-faq-area {
  padding-top: 50px;
}
.tour-faq-area .title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 10px;
}
.tour-faq-area .single-accordion {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  padding: 20px 0px 20px;
}
.tour-faq-area .single-accordion .title {
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.tour-faq-area .single-accordion .title img {
  margin-right: 5px;
  position: relative;
  top: -2px;
}
/*-------------------------------
Trending Tour Area Start
--------------------------------*/
.tranding-tour {
  padding: 62px 0px 70px;
  background: url(../images/tt-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tranding-tour .header-area {
  margin-bottom: 22px;
}
.tranding-tour .header-area .title {
}

.tour-slider {
  position: relative;
}
.tour-slider .owl-controls .owl-nav .owl-prev,
.tour-slider .owl-controls .owl-nav .owl-next {
  font-size: 14px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  top: -45px;
  line-height: 30px;
  opacity: 1;
  background: #fff;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.tour-slider .owl-controls .owl-nav .owl-prev:hover,
.tour-slider .owl-controls .owl-nav .owl-next:hover {
  background: #e4f8ff;
}
.tour-slider .owl-controls .owl-nav .owl-prev {
  right: 40px;
}
.tour-slider .owl-controls .owl-nav .owl-next {
  right: 0%;
}

.single-tours {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.single-tours .img-area {
  position: relative;
  overflow: hidden;
}
.single-tours .img-area img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.single-tours .img-area .discount {
  position: absolute;
  font-size: 14px;
  color: #fff;
  background: #53bc1c;
  height: 20px;
  width: 100px;
  left: -25px;
  top: 10px;
  text-align: center;
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
  z-index: 3;
}
.single-tours .img-area .feature {
  top: 20px;
  position: absolute;
  padding: 0px 10px 0px 20px;
  border-radius: 50px 0px 0px 50px;
  right: 0px;
  font-size: 14px;
  color: #fff;
  background: #0663fc;
  height: 20px;
  z-index: 3;
}
.single-tours .content {
  padding: 20px 20px 10px;
  position: relative;
}
.single-tours .content .add-favotite {
  position: absolute;
  right: 20px;
  top: -15px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #53bc1c;
  border-radius: 50%;
  border: 2px solid #fff;
}
.single-tours .content .country {
  font-size: 13px;
  margin-bottom: 5px;
}
.single-tours .content .country i {
  font-size: 10px;
  margin-right: 5px;
}
.single-tours .content .title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  height: 37px;
}
.single-tours .content .review-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
}
.single-tours .content .review-area .stars {
  margin-right: 15px;
}
.single-tours .content .review-area .stars li {
  display: inline-block;
  font-size: 12px;
  margin-right: -4px;
  color: #53bc1c;
}
.single-tours .content .review-area .review {
  font-size: 14px;
  position: relative;
  top: 3px;
  color: #58606f;
}
.single-tours .content .price-area-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.single-tours .content .price-area-wrapper .left-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.single-tours .content .price-area-wrapper .left-area .icon {
  color: #53bc1c;
  margin-right: 10px;
}
.single-tours .content .price-area-wrapper .left-area .price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #58606f;
}
.single-tours .content .price-area-wrapper .left-area .price small {
  display: block;
  font-size: 10px;
  line-height: 12px;
  color: #53bc1c;
}
.single-tours:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.single-tours:hover .img-area img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.time-counter {
  margin-top: 0px;
  display: block;
}

.time-counter span {
  display: inline-block;
  margin-right: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #2a3a57;
  margin-bottom: 0px;
}

.time-counter span:last-child {
  margin-right: 0px;
}

.time-counter span small {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ff431e;
}

/*-------------------------------
Trending Tour Area End
--------------------------------*/
/*-------------------------------
Top Dastination Area start
--------------------------------*/
 .user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}
.carousel-testimonial .item {
    padding: 30px 10px;
}
.quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
    color: #adadad;
    font-size: 14px;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    height: 25px;
}
.owl-nav button svg {
    width: 25px;
    height: 25px;
}
.owl-nav button.owl-prev {
    left: 25px;
}
.owl-nav button.owl-next {
    right: 25px;
}
.owl-nav button span {
    font-size: 45px;
}
.product-thumb .item img {
    height: 100px;
}  

.drop-menu{
  padding: 9px !important;
    font-size: 13px !important;
    border-bottom: 1px solid #CCD;
    background: #99c0c7;
    width: 127px;

} 

.hotel-right .price-area {
    background: #8a06fc5e;
    padding: 19px 20px 20px;
    overflow: hidden;
    position: relative;
}
.aside-right .price-area p {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 0px;
}
.aside-right .price-area p small {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #163cc5;
    margin-left: -5px;
}
.aside-right .price-area .discount {
    position: absolute;
    font-size: 13px;
    color: #fff;
    background: #53bc1c;
    height: 20px;
    width: 100px;
    right: -32px;
    line-height: 20px;
    top: 11px;
    text-align: center;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
    z-index: 3;
}