
/*

 Dream travel

*/


html,body{
	height:100%;
	position:relative;
	scroll-behavior: smooth;
}

p,ul,a,.btn,span,input,select,textarea,label, table, .meta h2, blockquote, small, .newsletter h2, .cruise-offer-text h3, .package h2, .welcome-message h2, #hot-tour h3, #hot-tour h2, #message-banner h2, .member-name h3, #error-text h2, .company-name, #coming-soon-text h2, .booking-form-block .selected-price, #dashboard h2, #dashboard h3, #dashboard h4, #web-name, .tvl-insurance-info .innerpage-heading h1, .big-heading h2, .traveler-info h3, .list-group-heading,.page-search-form h2, .member-info-2 h4, #faq-page .content-side .card-title, .service-intro-text h4, .popup-ad-text h4{
	font-family: 'Lato', sans-serif;
}

p,ul{
	line-height:1.5em;
	font-size:14px;
}

ul{
	margin-bottom:0px;
}

h1,h2,h3,h4,h5,h6,.main-title a, .flight-info h3 .flight-destination,.blog-post-title a, .block-title a, .detail-block .detail-title a, .side-bar .detail-block-2 .detail-title a, #travel-guide .tv-guide-block .tab-text h3 a{
	font-family: 'Merriweather', serif;
	margin-top:0;
	line-height:1.3em;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

.page-heading{
	text-align:center;
	margin-bottom:40px;
}

.page-heading h2{
	text-transform: capitalize;
	font-size:36px;
	font-weight:bold;
	margin-bottom:14px;
}

.page-heading .heading-line{
	width:50px;
	margin:0px auto;
}

.page-heading p{
	width:65%;
	margin:0 auto;
	font-size:18px;
}

.innerpage-heading h1{
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:20px;
	font-size:35px;
}

.innerpage-heading p{
	width:65%;
	margin:20px auto 50px;
	font-size:18px;
}

.trip-heading span{
	margin-right:15px;
}

.trip-heading h2{
	margin-bottom:0px;
}

.trip-heading p{
	margin-bottom:0px;
}

.innerpage-wrapper .butn .btn{
	width:218px;
}

.btn{
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
}

.section-padding{
	padding-top:50px;
	padding-bottom:50px;
}
.banner-padding-page{
	padding-top:86px;
	padding-bottom:86px;
}

.banner-padding{
	padding-top:86px;
	padding-bottom:86px;
}

.innerpage-section-padding{
	padding-top:103px;
	padding-bottom:147px;
}

.innerpage-banner-padding{
	padding-top:100px;
	padding-bottom:100px;
}

.innerpage-103-pd-tb{
	padding:103px 0px;
}

.yellow-line{
	width:130px;
	margin:0 auto 40px;
}

.btn-padding{
	padding:12px 48px;
}

.no-padding{
	padding-left:0px !important;
	padding-right:0px !important;
}

.no-pd-top{
	padding-top:0px;
}

.no-pd-bottom{
	padding-bottom:0px;
}

.mg-bot-30{
	margin-bottom:30px;
}

.mg-bot-55{
	margin-bottom:55px;
}

.mg-bot-60{
	margin-bottom:60px;
}

.butn .btn{
	margin-top:70px;
	width:265px;
	padding:16px 0px;
}

.col-15,
.col-md-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-15 {
    width: 20%;
    float: left;
}

#colorPanel{
	z-index:300;
}

.view-all{
	margin-top:80px;
}

.view-all .btn{
	padding:10px 50px;
	font-size:15px;
}

.owl-carousel.owl-custom-arrow .owl-controls .owl-buttons{
	position:absolute;
	top:45%;
	transform:translateY(-45%);
	left:0;
	width:100%;
}

.owl-carousel.owl-custom-arrow .owl-controls .owl-buttons div{
	font-size:20px;
	padding:0px 10px;
	opacity:1;
}

.owl-carousel.owl-custom-arrow .owl-controls .owl-buttons div .fa{
	margin-bottom:5px;
}

.owl-carousel.owl-custom-arrow .owl-controls .owl-buttons .owl-prev{
	left:-20px;
	position:absolute;
}

.owl-carousel.owl-custom-arrow .owl-controls .owl-buttons .owl-next{
	right:-20px;
	position:absolute;
}

.map iframe{
	width:100%;
}

#colorPanel{
	z-index:300;
}

.border-shape-top::before,
.border-shape-top::after{
	content: '';
    position: absolute;
    left: 0px;
    top: 0px;
}

.border-shape-top::before {
    width: 5px;
    height: 40px;
}

.border-shape-top::after {
    width: 40px;
    height: 5px;
}

.border-shape-bot::before,
.border-shape-bot::after{
	content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.border-shape-bot:before{
	width: 5px;
    height: 40px;
}

.border-shape-bot:after{
	width: 40px;
    height: 5px;
}



/* -----------------------------------------------------
		Top Bar
   ----------------------------------------------------- */

#top-bar{
	padding:10px 0px 10px 0px;
}

#top-bar.container-header{
	padding-left:15px;
	padding-right:15px;
}

#top-bar ul{
	margin-bottom:0px;
	letter-spacing:0.03em;
	font-size:14px;
	line-height:1.8em;
}

#top-bar #info li:first-child{
	margin-right:20px;
}
	
#top-bar #info ul li .fa{
	padding-right:10px;
	font-size:16px;
}

#top-bar #links{
	float:right;
}

#top-bar #links a{
	padding-bottom:0px;
}

#top-bar #links a .fa{
	padding-left:10px;
	font-size:14px;
	margin-right:8px;
}

#top-bar #links ul li{
	padding-left:0px;
}

#top-bar #links ul li:last-child{
	padding-right:0px;
}

#top-bar form ul li:last-child{
	margin-left:12px;
}

#top-bar #links > ul > li form{
	position:relative;
	padding-left:25px;
}

#top-bar #links > ul > li form:after{
	position:absolute;
	content:'';
	height:15px;
	width:1px;
	display:block;
	top:5px;
	left:0px;
}

#top-bar .form-group{
	margin-bottom:0px;
}

#top-bar .form-group{
    font-size:15px;
	position:relative;
	text-transform:uppercase;
	width:45px;
}

#top-bar .form-group.currency{
	width:35px;
}

#top-bar .form-group .fa{
	position:absolute;
	right:0px;
	top:5px;
	font-size:18px;
	pointer-events:none;
}

#top-bar .form-group select {
	z-index:9999;
	padding:0px;
	height:auto;
	z-index:1;
}

/* -----------------------------------------------------
		Navbar
   ----------------------------------------------------- */

nav.navbar{
	margin:0px;
	z-index:200;
	height: 80px;
	transition: background 0s,
				height 0.2s;
}


nav.navbar ul.navbar-nav li a{
	font-size: 16px;
}


nav.navbar.main-navbar#mynavbar-2.bg-light.full-width{
	position:fixed;
	top:0;
	left:0;
	right: 0;
	width:100%;
	z-index:200;
	padding: 0 30px;
}

nav.navbar#mynavbar.main-navbar.navbar-custom.navbar-transparent#mynavbar.white-color {
	background-color: white !important;
	color: black;
	transition: 0.5s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}


nav.navbar.main-navbar#mynavbar.bg-light.full-width ~ section{
	position:relative;
	top:51px;
}

nav.navbar.navbar-custom a.navbar-brand{
	font-size: 28px;	
}

nav.navbar.navbar-custom a.navbar-brand span .fa{
	font-size: 35px
}



nav.navbar .container.padding {
	padding: 0 10px;
}

.main-navbar .navbar-header{
	position:relative;
}

.main-navbar .header-search{
	margin-top:17px;
}

.main-navbar .navbar-brand{
	padding-right:0px;
}

.main-navbar .navbar-brand .fa{
	margin-right:10px;
	position:relative;
	top:2px;
}

.main-navbar .navbar-nav > li > a{
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	display: inline-flex;
	list-style:none;
}

.main-navbar .navbar-nav > li{
	position:relative;
}

.main-navbar .navbar-nav > li::before{
	width: 0;
	height: 4px;
	transition: all 0.25s linear;
	position: absolute;
	content: "";
	z-index: -1;
	left: 0px;
	top: auto;
	bottom:7px;
	right: 0px;
	-webkit-transition: all 0.25s linear;
	z-index:1;
	margin:0 auto;
}

.dropdown-menu {
    margin: -5px 0 0;
}

.main-navbar .navbar-nav > li.active::before{
	width: 100%;
}

.main-navbar .navbar-nav > li > a .fa-angle-down{
	margin-left:8px;

}
.main-navbar .navbar-nav > li > a .fa {
    display: inherit;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-navbar.container-header .navbar-nav > li:last-child{
	margin-right:15px;
}

.main-navbar .navbar-search-link > li:nth-child(2) a{
	height:35px;
	width:35px;
	text-align:center;
	padding:5px 7px 6px 8px;
	margin-top:2px;
	text-decoration: none;
}

.main-navbar .navbar-search-link > li:last-child .fa{
	margin-top:3px;
}

.main-navbar .navbar-nav li .dropdown-menu {
	width: 250px;
	padding: 0;
}

.main-navbar .navbar-nav li .dropdown-menu li a {
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 14px;
}

/* New */

.main-navbar .navbar-nav .dropdown:hover > .dropdown-menu{
	display:block;
}

.dropdown-submenu{
	position:relative;
}

.dropdown-submenu:hover > .dropdown-menu{
	display:block;
}

.dropdown-submenu > a:after{
	display:block;
	content:" ";
	float:right;
	width:0px;
	height:0;
	margin-top:5px;
	margin-right:-10px;
}


/* New */

.main-navbar .mega-dropdown-menu{
	padding:40px 20px 40px !important;
}

.main-navbar .mega-dropdown-menu .row{
	margin-left:0px;
	margin-right:0px;
}

.main-navbar .mega-dropdown-menu .dropdown-header{
	font-size:16px;
	font-weight:900;
	margin-bottom:14px;
	text-transform:uppercase;
	padding:3px 16px;
}

.main-navbar .navbar-nav li .mega-dropdown-menu ul li a{
	display:block;
	text-decoration:none;
	padding-left:15px;
	margin-top:1px;
}

.header-absolute{
	position:absolute;
	top:0px;
	left:0;
	z-index:100;
	width:100%;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/************* CRUISE HOMEPAGE *************/

#cruise-homepage #top-bar{
	padding-left:15px;
	padding-right:15px;
}

#cruise-homepage .main-navbar .navbar-nav > li:last-child{
	margin-right:15px;
}

#close-button{
	position:fixed;
	right:50px;
	top:40px;
	color:black;
	z-index:1;
	font-size:40px;
	cursor:pointer;
	text-decoration:none;
}

/**************************Search Overlay*****************************/

#myOverlay-d form {
	width: 50%;
	display: block;
	margin: 0 auto;
}

.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay-d {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin: auto;`
}

.overlay-d .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;`
}

.overlay-d .closebtn:hover {
  color: #ccc;
}

.overlay-d input[type=text] {
  padding: 15px;
  font-size: 17px;
  height: 60px;
  border: none;
  width: 85%;
  color: white;
}

.overlay-d button {
  width: 15%;
  height: 60px;
  padding: 15px;
  background: #888;
  font-size: 17px;
  border: none;
  transition: 1s;
  cursor: pointer;
}

.overlay-d button:hover {
  background: #bbb;
}



.overlay-d button i.fa{
  text-align: center;
  font-size: 20px;
}


@media(max-width:768px){

#myOverlay-d form {
	width: 85%;
	display: block;
	margin: 0 auto;`
}

.overlay-d button i.fa{
  text-align: center;
  font-size: 15px;
}


}

/*************** SIDEBAR NAV ***************/
/************* SideBar *************/

.navbar {
    padding: 15px 10px;
    background: #ccccccde;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    right: -280px;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
}

#sidebar.active {
    right: 0;
}

#sidebar #dismiss {
	position:absolute;
	top:-10px;
	right:6px;
	width:100%;
	text-align:left;
}

#sidebar #dismiss {
    font-size: 50px;
	text-decoration:none;
	padding:0px;
	line-height:1.0em;
}

#sidebar #dismiss #closebtn{
    font-size: 30px;
    text-decoration:none;
    padding:2px 10px;
    line-height:1;
}

#sidebar #web-name{
	text-transform:uppercase;
	text-align:center;
	padding:40px 0px;
	margin-bottom:0px;
	font-size:22px;
	font-weight:bold;
	position:relative;
}

#sidebar #web-name::after{
	position:absolute;
	content:'';
	display:block;
	height:65px;
	width:140px;
	top:-20px;
	right:-40px;
}

#sidebar #web-name .fa{
	margin-right:8px;
	font-size:30px;
	position:relative;
	top:2px;	
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 300;
    top: 0;
    right: 0;
    transition: 0.5s;
}

#main-menu .list-group a.items-list{
	padding:13px 15px 13px 20px;
	font-size:15px;
}

#main-menu .list-group > .sub-menu > a.items-list{
	padding:13px 15px 13px 46px;
}

#main-menu .list-group > a.items-list > span > i.link-icon{
	width:10px;
	text-align:center;
	margin-right:18px;
	font-size:15px;
}

#main-menu .list-group a.items-list > span > i.arrow{
	float:right;
	margin-top:3px;
	font-size:14px;
}

#main-menu .list-group .sub-menu > a.items-list{
	display: block;
}

#main-menu .list-group .sub-menu .list-group-heading{
	pointer-events:none;
	font-weight:900;
	font-size:15px;
	text-transform:uppercase;
	padding: 13px 15px 13px 46px;
}

/* New */

#main-menu .list-group .mega-sub-menu > a .arrow{
	
}

#main-menu .list-group .mega-sub-menu .mega-sub-menu-links > a{
	padding-left:55px;
}

/* -----------------------------------------------------
		Slider
   ----------------------------------------------------- */

.flexslider-container{
	position:relative;
}

.flexslider {
	margin: 0; 
	padding: 0; 
	width: 100%;  
	border: 0px; 
	overflow: hidden;
	position:relative;
}

.flexslider .slides > li { 
	background-position: center;
	width: 100%;
	display: none; 
	-webkit-backface-visibility: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.flexslider ul.slides {
	margin: 0;
	padding: 0;
}

.flexslider li {
	position: relative;
}

.flexslider li .meta .highlight-price{
	text-transform:uppercase;
	font-size:18px;
	font-weight:bold;
	padding:6px 16px;
}

.flexslider li .meta h1,
.flexslider li .meta h2,
.flexslider li .meta p,
.flexslider li .meta .highlight-price,
.flexslider li .meta .btn {
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOutTop;
	animation-name: fadeOutTop;
}

.flexslider li.flex-active-slide .meta h1,
.flexslider li.flex-active-slide .meta h2,
.flexslider li.flex-active-slide .meta p,
.flexslider li.flex-active-slide .meta .highlight-price,
.flexslider li.flex-active-slide .meta .btn {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInTop;
	animation-name: fadeInTop;
}

.flexslider li.flex-active-slide .meta h2 {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.flexslider li.flex-active-slide .meta p,
.flexslider li.flex-active-slide .meta .btn {
	-webkit-animation-delay: .8s;
	animation-delay: .8s;
}

.flexslider li.flex-active-slide .meta .highlight-price{
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

.flexslider li.flex-active-slide .meta .highlight-price.highlight-2{
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}

.flex-direction-nav {
	display:none;		
}

@-webkit-keyframes fadeInTop {
	
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -50%, 0);
		transform: translate3d(0, -50%, 0);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInTop {
	
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -50%, 0);
		transform: translate3d(0, -50%, 0);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeOutTop {
	
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -50%, 0);
		transform: translate3d(0, -50%, 0);
	}
}

@keyframes fadeOutTop {
	
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -50%, 0);
		transform: translate3d(0, -50%, 0);
	}
}

/************* SLIDER-1 *************/

#slider-1 li .meta {
	position: absolute;
	height:100%;
	width:100%;
	text-align:center;
	padding-top:215px;
}

#slider-1 li .meta h1 {
	margin: 0;
	font-size: 80px;
	font-weight: 300;
	text-transform:uppercase;
	margin-bottom:22px;
}

#slider-1 li .meta h2 {
	font-size: 32px;
	margin: 0;
	font-weight: 400;
	text-transform:uppercase;
	letter-spacing:0.20em;
	margin-bottom:-10px;
}

#slider-1 li .meta .btn{
	font-weight:bold;
	padding:8px 23px;
	font-size:14px;
}

/************* SLIDER-2 *************/

#slider-2 li .meta {
	position: absolute;
	height:100%;
	width:100%;
	text-align:center;
	padding-top:160px;
}

#slider-2 li .meta h2{
	font-size:60px;
	font-weight:300;
	text-transform:uppercase;
	margin-bottom:0px;
}

#slider-2 li .meta p{
	width:650px;
	margin:0 auto;
}

/************* SLIDER-4 *************/

#slider-4 li .meta {
	padding-top:140px;
}

/************* SLIDER-5 *************/

#slider-5 li .meta {
	position: absolute;
	height:100%;
	width:100%;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
}

#slider-5 li .meta h2{
	font-size:70px;
	font-weight:900;
	margin-bottom:3px;
}

#slider-5 li .meta p{
	font-size:16px;
	width:560px;
	margin:0 auto 40px;
	font-weight:bold;
}

/************* SLIDER-6 *************/

#slider-6 .slides > li { 
  background-position: center;
  height: 100%;
  width: 100%;
  display: none; 
  -webkit-backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#flexslider-container-6, 
#slider-6 .slides, 
#slider-6 .flex-viewport {
    height: 100%;
}

#slider-6 {
  width: 100%; 
  height: 100%; 
}

#slider-6 li .meta {
	display:flex;
	align-items:center;
	justify-content:center;
}

/************* TOUR-SLIDER *************/

.tour-slider li .meta {
	position: absolute;
	height:100%;
	width:100%;
}

.tour-slider li .meta h2{
	font-size:70px;
	font-weight:900;
	text-transform:uppercase;
	margin-top:8px;
	margin-bottom:1px;
}

.tour-slider li .meta p{
	font-weight:bold;
	width:520px;
}

/* -----------------------------------------------------
		Search Tabs
   ----------------------------------------------------- */

.search-tabs{
	position:absolute;
	bottom:75px;
	left:0px;
	width:100%;
}

.search-tabs .nav-tabs{
	text-align:center;
	font-size:0px;
	margin-bottom:-2px;
}

.center-tabs li{
	display:inline-block;
	float:none;
}

.search-tabs .nav-tabs li{
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
}

.search-tabs .nav-tabs li a{
	padding:8px 20px;
}

.search-tabs .nav-tabs li.active a{
	padding:8px 25px 11px;
}

.search-tabs .nav-tabs li .fa{
	margin-right:7px;
	font-size:15px;
}

.search-tabs .tab-content .tab-pane{
	padding:35px 30px 20px;
}

.search-tabs .tab-content .tab-pane input,
.search-tabs .tab-content .tab-pane select{
	text-transform:uppercase;
	font-size:13px;
}

.search-tabs .tab-content .tab-pane .form-group,
.search-tabs .tab-content .tab-pane .form-group{
	position:relative;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon input{
	padding-left:38px;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon .fa{
	left:15px;
}

.search-tabs .tab-content .tab-pane .form-group.right-icon .fa{
	right:11px;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon .fa,
.search-tabs .tab-content .tab-pane .form-group.right-icon .fa{
	position:absolute;
	pointer-events:none;
}

.search-tabs .tab-content .tab-pane .btn{
	padding:8px 45px;
}

/************* SEARCH-TABS-3 *************/

#search-tabs-3.search-tabs{
	bottom:148px;
}

#search-tabs-3 .nav-tabs li{
	font-size:13px;
	margin-bottom:1px;
}

#search-tabs-3 .nav-tabs li a,
#search-tabs-3 .nav-tabs li.active a{
	padding:10px 15px;
	border:0px;
}

#search-tabs-3 .tab-content .tab-pane{
	padding:35px 30px;
}

#search-tabs-3 .tab-content .tab-pane .btn{
	margin-top:15px;
}

#search-tabs-3 .tab-content .tab-pane .form-group label{
	text-transform:uppercase;
	font-weight:400;
}

#search-tabs-3 .tab-pane form input,
#search-tabs-3 .tab-pane form input::placeholder,
#search-tabs-3 .tab-pane form select{
	text-transform: none;
}
	
.welcome-message{
	padding:43px 55px;
	margin-top:38px;
	max-height: 400px;
	min-height: 350px;
}

.welcome-message h2{
	font-weight:bold;
	font-size:28px;
	margin-bottom:15px;
}

.welcome-message p{
	font-weight:300;
	font-size:15px;
	margin-bottom:22px;
}

.welcome-message p{
	font-weight:bold;
	font-size:15px;
	margin-bottom:22px;
}

.welcome-message p:nth-child(odd){
	font-weight:normal;
}

.welcome-message .btn{
	margin-top:10px;
	padding:8px 27px 9px;
}

/************* SEARCH-TABS-4 *************/

#search-tabs-4.search-tabs{
	bottom:0px;
}

/************* SEARCH-TABS-5 *************/

#search-tabs-5.search-tabs{
	bottom:0px;
}

/* -----------------------------------------------------
		Main Block
   ----------------------------------------------------- */

.main-block{
	transition:.4s;
}

.main-img{
	position:relative;
	overflow:hidden;
}

.main-img img{
	width:100%;
	transition:.4s;
}

.main-info .main-title a{
	text-decoration:none;
}

.main-title p{
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:0px;
	margin-top:-2px;
}

.arrow .fa{
	height:28px;
	width:28px;
	text-align:center;
	padding: 3px 11px;
	font-size:20px;
	margin-top:11px;
}

/* -----------------------------------------------------
		Hotel Block
   ----------------------------------------------------- */

#owl-hotel-offers .item{
	padding:10px 15px;
}
  
.main-img .main-mask{
	position:absolute;
	bottom:0px;
	width:100%;
}

.hotel-info{
	padding:15px 22px 18px;
	position:relative;
}

.hotel-info .hotel-title{
	font-size:1.42em;
	overflow:hidden;
}

.hotel-info .arrow{
	overflow:hidden;
	float:right;
}

/* -----------------------------------------------------
		Tour Block
   ----------------------------------------------------- */

#owl-tour-offers .item{
	padding:10px 15px;
}

#owl-tour-offers .grid{
	padding:10px 15px;
}

#owl-tour-offers .grid:nth-child(odd){
	margin-bottom:10px;
}

.tour-info .tour-title{
	text-align:center;
	padding:22px 20px;
}

.tour-info .tour-title a{
	font-size:21px;
}

.tour-info .tour-title p{
	font-size:1.17em;
	margin-top:6px;
	margin-bottom:8px;
}

/************** TRAVEL-AGENCY *************/

#travel-agency .owl-controls .owl-buttons{
	top:47.8%;
	transform:translateY(-47.8%);
}

/* -----------------------------------------------------
		Cruise Block
   ----------------------------------------------------- */

.cruise-block{
	margin:15px 0px;
}

.cruise-info{
	padding:30px;
}

.cruise-title a{
	font-size:20px;
	font-weight:bold;
}

.cruise-title p{
	font-size:15px;
	margin-top:2px;
	margin-bottom:20px;
}

.cruise-title .rating{
	margin-bottom:3px;
}

.cruise-title .cruise-price{
	font-size:24px;
	font-weight:bold;
}

.main-img .cruise-mask{
	position:absolute;
	top:11px;
	right:12px;
	padding:6px 12px;
}

.cruise-mask p{
	margin-bottom:0px;
	text-transform:uppercase;
	font-weight:bold;
}

#owl-cruise-offers .grid{
	margin:0px 15px 30px 15px;
}

#owl-cruise-offers .owl-controls .owl-buttons{
	top:44%;
	transform:translateY(-44%);
}

#owl-cruise-offers .owl-controls .owl-buttons div{
	padding:0px 11px;
}


/* -----------------------------------------------------
		Destination Block
   ----------------------------------------------------- */

.destination-block{
	margin:15px 0px;
}

.destination-img img{
	max-height:350px;
}

.destination-info{
	text-align:center;
	padding:40px 15px;
}

.destination-title > a{
	font-size:19px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
}

.destination-title .country{
	text-transform:uppercase;
	font-weight:bold;
	margin-top:2px;
	margin-bottom:12px;
}

.destination-title p{
	line-height:1.3em;
}

.destination-title .destination-price{
	font-size:18px;
	font-weight:bold;
	display:block;
	margin-top:14px;
}

.destination-title .btn{
	font-size:13px;
	margin-top:22px;
	padding:8px 20px;
}


/*************** TOUR-OFFER ****************/

#hot-tour .row{
	margin-left:0px;
	margin-right:0px;
}

.hot-tour-carousel{
	padding-left:0px;
	padding-right:0px;
}

#hot-tour-carousel .item img{
	width:100%;	
}

#hot-tour-carousel .arrow-icons{
	opacity:1;
	width:auto;
}

#hot-tour-carousel .arrow-icons.left,
#hot-tour-carousel .arrow-icons.right{
	background:none;
	margin-top:-30px;
}

#hot-tour-carousel .arrow-icons.left{
	left:40px;
}

#hot-tour-carousel .arrow-icons.right{
	right:40px;
}

#hot-tour-carousel .arrow-icons .glyphicon{
	font-weight:100;
	font-size:20px;
	height:60px;
	width:60px;
	text-align:center;
	padding-top:19px;
	background:rgba(0,0,0,0.7);
	border-radius:100%;
}

.hot-tour-text{
	text-align:center;
	padding:80px 20px 69px;
}

.hot-tour-text h3{
	text-transform:uppercase;
	font-weight:bold;
	font-size:28px;
	margin-bottom:11px;
}

.hot-tour-text .hot-tour-title{
	font-size:55px;
	font-weight:100;
	margin-bottom:26px;
	line-height:1.25em;
}

.hot-tour-text p{
	font-size:20px;
	text-transform:uppercase;
	margin-bottom:60px;
}

.hot-tour-text .btn{
	padding:11px 32px;
	font-size:18px;
	margin:8px 4px;
}

.hot-tour-text .btn-details{
	padding:11px 31px;
}

/************** CRUISE-OFFER ***************/

.cruise-offer-img img{
	display:inline-block;
}

.cruise-offer-text{
	padding:110px 0px 0px 50px;
}

.cruise-offer-text h2{
	font-size:55px;
	font-weight:bold;
}

.cruise-offer-text h3{
	font-size:28px;
	font-weight:bold;
	margin-bottom:0px;
}

.cruise-offer-text .cruise-offer-dur{
	font-size:20px;
	text-transform:uppercase;
}

.cruise-offer-text .cruise-offer-price{
	font-size:36px;
	text-transform:uppercase;
	font-weight:bold;
	margin:25px 0px 50px 0px;
}

.cruise-offer-text .btn{
	font-size:1.4em;
	padding:17px 50px;
}

/**************** CAR-OFFER ****************/

.luxury-car-text{
	padding:50px 55px 60px;
	overflow:hidden;
}

/* -----------------------------------------------------
		Banners
   ----------------------------------------------------- */

/************** VIDEO-BANNER **************/

#video-banner{
	text-align:center;
}

#video-banner h2{
	font-size:40px;
	font-weight:bold;
	margin-bottom:15px;
}

#video-banner p{
	font-size:19px;
	width:65%;
	margin:0 auto;
}

#video-banner #play-button .fa{
	font-size:33px;
	width:110px;
	height:110px;
	padding-top:33px;
	text-align:center;
	margin-top:50px;
}

/************* MESSAGE-BANNER *************/

#message-banner{
	overflow:hidden;
}

#message-banner h2{
	font-size:38px;
	font-weight:900;
	margin-bottom:8px;
}

#message-banner p{
	font-size:18px;
	margin-bottom:0px;
}

#message-banner .btn{
	padding:18px 31px;
	font-size:20px;
	font-weight:900;
	margin-top:17px;
}

/************* SEARCH-BANNER *************/

#search-banner p:first-child{
	font-size:22px;
	font-weight:300;
}

#search-banner p{
	font-size:25px;
}

#search-banner h2{
	font-weight:bold;
	font-size:45px;
}

#search-banner .btn{
	margin-top:30px;
	font-size:20px;
	padding:11px 27px;
	font-weight:bold;
	text-transform:uppercase;
}



/* -----------------------------------------------------
		Latest Blog
   ----------------------------------------------------- */

.latest-block{
	margin:15px 0px;
}

.latest-info{
	padding:14px 20px;
}

.latest-info li{
	font-size:12px;
}

.latest-info li .fa{
	font-size:14px;
	margin-right:8px;
}

.latest-info li .author{
	float:right;
	font-size:14px;
}

.latest-desc{
	padding:20px;
	position:relative;
}

.latest-desc a{
	font-size:18px;
}

.latest-desc p{
	margin-top:7px;
	font-weight:normal;
	font-size:14px;
	text-transform:none;
	line-height:1.4em;
}

.latest-desc .arrow .fa{
	position:absolute;
	bottom:20px;
	right:20px;
}

/* -----------------------------------------------------
		Packages
   ----------------------------------------------------- */

.package .pkg-features li{
	font-size:15px;
	padding-top:7px;
	padding-bottom:7px;
	text-transform:uppercase;
}

.package .btn{
	margin-top:5px;
	text-transform:uppercase;
	font-size:15px;
	padding:10px 28px;
	font-weight:normal;
}

/************* HOTEL-PACKAGES *************/

.hotel-package{
	padding:40px 15px 50px;
	transition:.4s;
}

.h-pkg-title{
	font-size:26px;
	font-weight:300;
	text-transform:uppercase;
	margin-bottom:25px;
}

.h-pkg-price{
	font-size:38px;
	font-weight:bold;
	margin-bottom:0px;
	text-transform:uppercase;
	height:142px;
	width:142px;
	display:inline-block;
	padding-top:40px;
	transition:.4s;
}

.h-pkg-price span{
	display:block;
	font-size:18px;
	margin-top:-20px;
}

.hotel-package .pkg-features{
	padding:23px 35px;
}

/*************** TOUR-PACKAGES *************/

.tour-package{
	margin-top:30px;
	transition:.4s;
}

.tour-package .t-pkg-heading{
	padding:51px 20px;
}

.tour-package .t-pkg-title{
	font-size:34px;
	font-weight:900;
	text-transform:uppercase;
	margin-bottom:5px;
}

.tour-package .t-pkg-price{
	font-size:22px;	
	text-transform:uppercase;
	margin-bottom:0px;
}

.tour-package .pkg-features{
	padding:30px 48px 53px 48px;
}

.tour-package .pkg-features li{
	padding-top:8px;
	padding-bottom:8px;
}

.tour-package .pkg-features .btn{
	margin-top:42px;
}


/* -----------------------------------------------------
		Footer
   ----------------------------------------------------- */

#footer.ftr-heading-on .footer-heading{
	margin-bottom:35px;
}

#footer.ftr-heading-mgn-2 .footer-heading{
	margin-bottom:20px;
}

.ftr-top-grey .form-control {
    font-size: 13px;
}

.footer-widget .footer-heading{
	font-size:26px;
	font-weight:bold;
}

.footer-widget ul li,
.footer-widget a,
.footer-widget p{
	font-size:15px;
}

.footer-widget ul li:last-child{
	margin-bottom:0px;
}

.footer-widget.ftr-contact li{
	margin-bottom:21px;
}

.footer-widget.ftr-contact li:nth-child(2){
	font-size:20px;
}

.footer-widget.ftr-contact li .fa{
	font-size:20px;
	width:25px;
	margin-right:7px;
}

.footer-widget.ftr-links li{
	text-transform:uppercase;
	margin-bottom:9px;
}

.instagram-list li{
	margin: 0;
	padding: 0 0 0 5px;
}

.instagram-list li:nth-child(n+4){
	margin-top:14px;
}

.footer-widget.ftr-about p{
	line-height:1.72em;
}

.footer-widget.ftr-about .social-links{
	margin-top:22px;
}

.footer-widget.ftr-about .social-links li a{
	font-size:21px;
}

.footer-widget.ftr-about .social-links li{
	/*margin-right:12px;*/
	margin-top:10px;
	margin: 0 10px;
}

.footer-widget.ftr-in-touch form{
	margin-top:26px;
}

.footer-widget.ftr-in-touch input{
	height:37px;
}

.footer-widget.ftr-in-touch textarea{
	height:155px;
	padding-top:10px;
	padding-left:15px;
}

.footer-widget.ftr-in-touch input,
.footer-widget.ftr-in-touch textarea{
	text-transform:uppercase;
	margin-bottom:22px;
}

.footer-widget.ftr-in-touch .btn{
	padding:7px 70px;
	font-size:16px;
	margin-top:5px;
	float:right;
}

.footer-widget.ftr-newsletter form{
	margin-top:30px;
}

.footer-widget.ftr-newsletter input{
	font-size:14px;
}

.footer-widget.ftr-newsletter .input-group-btn .btn{
	/*font-size:20px;*/
	height:100%;
}

.footer-widget.ftr-map iframe{
	height:270px;
}

#footer-bottom{
	padding-top:30px;
	padding-bottom:30px;
}

#footer-bottom p,
#footer-bottom ul{
	margin-bottom:0px;
	font-size:15px;
}

#footer-bottom li:first-child{
	position:relative;
	padding-right:10px;
}

#footer-bottom li:first-child:after{
	content:"";
	position:absolute;
	right:0;
	top:5px;
	height:15px;
	width:1px;
	display:block;
}

/* -----------------------------------------------------
		Page Cover
   ----------------------------------------------------- */

.page-cover{
	padding:70px 0px;
	position:relative;
}

.page-cover::before{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:100%;	
	width:100%;
}

.page-cover h1{
	font-size:32px;
	font-weight:bold;
	margin-bottom:6px;
}

.page-cover .breadcrumb{
	padding:0px;
	margin:0px;
	font-size:14px;
	font-weight:300;
}
.page-cover .breadcrumb li a{
	text-decoration:none;
}

/** New **/

.cover-navbar-wrapper.pt-164{
	padding-top:164px;
}

.cover-navbar-wrapper.pt-215{
	padding-top:215px;
}

.style.page-cover::before{
	display:none;
}

.page-cover.p-20{
	padding:20px 0px;
}

.page-cover.p-20 .page-title{
	margin-bottom:0px;
	font-size:25px;
}

.page-cover.p-20 .breadcrumb{
	margin-top:6px;
}

/*********** PAGE-COVER STYLE2 **********/

.page-cover.style2 .page-title{
	float:left;
}

.page-cover.style2 .breadcrumb{
	text-align:right;
	margin-top:13px;
}

/*********** PAGE-COVER STYLE4 ***********/

.page-cover.style4 .breadcrumb{
	float:left;
	margin-top:13px;
}

.page-cover.style4 .page-title{
	text-align:right;
}

/*********** PAGE-COVER STYLE5 ***********/

.page-cover.style5 .pt-icon-left{
	float:left;
	transform:rotateY(180deg);
}

.page-cover.style5 .pt-icon-right{
	float:right;
}

/* -----------------------------------------------------
		Sidebar
   ----------------------------------------------------- */

/******** GRID/LIST PAGE SIDEBAR ********/

.side-bar-block{
	margin-bottom:40px;
}

.side-bar-block:last-child{
	margin-bottom:0px;
}

.side-bar .filter-block{
	padding:33px 25px 50px;
}

.side-bar .filter-block h3{
	font-weight:bold;
	font-size:25px;
	margin-bottom:0px;
}

.side-bar .filter-block p{
	font-size:13px;
}

.side-bar .filter-block .panels-group{
	margin:30px 0px 25px;
}

.filter-block .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    margin: 20px 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: unset; 
}


.side-bar .filter-block{
	margin-bottom:13px;
}

.side-bar .filter-block .card-header{
	padding:0px;
	position:relative;
}

.side-bar .filter-block .card-header a{
	display:block;
	padding:8px 12px;
	font-size:14px;
	text-decoration:none;
	text-transform:uppercase;
}

.side-bar .filter-block .card-header span{
	position:absolute;
	font-size:16px;
	right:10px;
	top:6px;
}

.side-bar .filter-block .card-header .fa-angle-down{
	font-size:22px;
	margin-top:2px;
}

.side-bar .filter-block .card-body {
	padding: 15px;
}

.side-bar .filter-block .card-body ul li label input{
	margin-right:10px;
}

.side-bar .filter-block .card-body ul li label{
	font-weight:normal;
	font-size:13px;
}

.side-bar .filter-block .price-slider input{
	text-align:center;
	width:100%;
	font-size:26px;
	font-weight:bold;
	margin-bottom:20px;
}

.side-bar .filter-block .ui-slider-horizontal{
	height:.4em;
}

.side-bar .filter-block .ui-slider .ui-slider-handle{
	width:.85em;
	height:.93em;
}

.side-bar .support-block{
	padding:33px 25px 50px;
}

.side-bar .support-block h3{
	font-size:25px;
	font-weight:bold;
}

.side-bar .support-block p{
	font-size:13px;
}

.side-bar .support-contact span{
	font-size:22px;
	margin-right:13px;
	float:left;
}

.side-bar .support-contact p{
	font-size:22px;
	font-weight:bold;
	overflow:hidden;
}

.side-bar .ad-img{
	position:relative;
}

.side-bar .ad-mask{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.side-bar .ad-mask .ad-text{
	height:150px;
	width:150px;
	text-align:center;
	padding-top:28px;
	text-transform:uppercase;
}

.side-bar .ad-mask .ad-text h2{
	font-weight:900;
	margin:-10px 0px -13px;
	font-size:46px;
}

.side-bar .ad-mask .ad-text span{
	font-size:16px;
	font-weight:bold;
}

.side-bar .ad-mask .ad-text span:nth-of-type(2){
	font-size:24px;
}

/********* DETAIL PAGES SIDEBAR *********/

.side-bar .booking-form-block{
	margin-bottom:60px;
}

.side-bar .booking-form-block .selected-price{
	font-size:26px;
	font-weight:bold;
	margin-bottom:0px;
	padding:8px 23px 6px;
}

.side-bar .booking-form-block .selected-price span{
	font-size:14px;
	font-weight:normal;
	position:relative;
	top:-3px;
	margin-left:5px;
}

.side-bar .booking-form{
	padding:35px 23px 40px;
}

.side-bar .booking-form h3{
	font-weight:bold;
	font-size:22px;
	text-transform:uppercase;
	margin-bottom:0px;
}

.side-bar .booking-form form{
	margin-top:23px;
}

.side-bar .booking-form .form-group{
	position:relative;
	margin-bottom:13px;
}

.side-bar .booking-form .form-group .fa{
	position:absolute;
	right:15px;
	top:10px;
	pointer-events:none;
	font-size:14px;
}

.side-bar .booking-form .form-group .fa-angle-down{
	right:10px;
	top:10px;
	font-size:18px;
}

.side-bar .booking-form .form-group input,
.side-bar .booking-form .form-group select,
.side-bar .booking-form .btn{
	height:36px;
}

.side-bar .booking-form .checkbox{
	margin:30px 0px 40px;
}

.side-bar .booking-form .checkbox label{
	font-size:12px;
	line-height:1.6em;
	padding-left:0px;
}

.side-bar .booking-form .custom-check label span {
    margin: -2px 10px 0 0;
	width:13px;
    height:13px;
	font-size:10px;
}

/********* BOOKING PAGES SIDEBAR ********/

.side-bar .detail-block .detail-img{
	position:relative;
}

.side-bar .detail-block .detail-img img{
	display:inline-block;
}

.side-bar .detail-block .detail-title{
	padding:20px 0px;
}

.side-bar .detail-block .detail-title h4{
	font-weight:bold;
	margin-bottom:4px;
	font-size:20px;
}

.side-bar .detail-block .detail-title a{
	text-decoration:none;
}

.side-bar .detail-block .detail-title p{
	margin-bottom:0px;
	text-transform:uppercase;
}

.side-bar .detail-block .detail-title .rating{
	margin-top:12px;
}

.side-bar .detail-block table{
	margin-bottom:0px;
}

.side-bar .detail-block table tr > td:first-child{
	font-weight:bold;
}

.side-bar .detail-block table tr:last-child{
	font-size:16px;
	font-weight:bold;
}

.side-bar .detail-block.style1 .detail-img img{
	max-height:90px;
	width:auto;
	margin:30px 0px;
}

.side-bar .detail-block.style2 .detail-img img{
	width:100%;
}

.side-bar .detail-block.style2 .detail-price{
	position:absolute;
	top:0px;
	right:0;
	padding:6px 20px;
	font-weight:bold;
	font-size:18px;
}

.side-bar .detail-block.style2 .detail-price h4{
	margin-bottom:0px;
	font-weight:bold;
	font-size:20px;
}

.side-bar .detail-block.style2 .detail-price h4 span{
	font-size:13px;
	font-weight:400;
}

.side-bar .detail-block.style2 .detail-title{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}





/********** BLOG PAGES SIDEBAR **********/

.side-bar-heading{
	font-size:22px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:25px;
}

.side-bar .categories,
.side-bar .instagram,
.side-bar .contact,
.side-bar .recent-post,
.side-bar .follow-us{
	margin-bottom:90px;
}

.side-bar .instagram li{
	padding-right:0px;
	padding-left:0px;
	margin-bottom:10px;
	width:28%;
}

.side-bar .contact .c-list{
	margin-top:26px;
	line-height:1.2em;
}

.side-bar .contact .c-list .icon{
	font-size:20px;
	float:left;
	margin-right:13px;
	text-align:center;
}

.side-bar .contact .c-list .fa{
	width:36px;
	height:36px;
	padding-top:7px;
}

.side-bar .contact .c-list .text{
	overflow:hidden;
}

.side-bar .contact .c-list .text p{
	font-size:14px;
	line-height:1.27em;
	margin-bottom:0px;
}

.side-bar .contact .c-list:nth-of-type(1) .text p{
	padding-top:6px;
}

.side-bar .contact .c-list:nth-of-type(2) .text p{
	font-weight:bold;
	font-size:18px;
	line-height:.9em;
	padding-top:8px;
}

.side-bar .recent-post .recent-block{
	margin-top:40px;
}

.side-bar .recent-post .recent-block .recent-img{
	float:left;
	margin-right:12px;
}

.side-bar .recent-post .recent-block .recent-img img{
	max-height:100px;
}

.side-bar .recent-post .recent-block .recent-text{
	overflow:hidden;
	padding-top:10px;
}
.side-bar .recent-post .recent-block .recent-text h5{
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	margin-bottom:2px;
}

.side-bar .recent-post .recent-block .recent-text p{
	font-size:14px;
	margin-bottom:10px;
	line-height:1.4em;
}

.side-bar .follow-us li{
	margin:0px 13px 13px 0px;
}

.side-bar .follow-us li a{
	font-size:30px;
}

.side-bar .tags li{
	padding-left:0px;
	padding-right:-8px;
	margin: 0 2px 8px 0;
}

.side-bar .tags li .btn-g-border{
	font-weight:normal;
	font-size:11px;
}

.side-bar .categories li{
	font-size:16px;
	margin:0px;
	display: block;
	width: 100%;
}



.side-bar .categories .nav-pills>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.side-bar .categories li .fa{
	margin-right:15px;
}

#byf-guidelines .side-bar .follow-us{
	margin-bottom:0px;
}

/* -----------------------------------------------------
		Grid Block
   ----------------------------------------------------- */
   
.block-info{
	padding:12px 19px 19px;
}

.block-info a{
	text-decoration:none;
}

.block-title{
	font-size:20px;
	margin-bottom:0px;
}

.block-minor{
	font-size:14px;
	text-transform:uppercase;
	margin-bottom:7px;
}

.block-minor span{
	font-weight:bold;
}

.grid-block{
	margin-bottom:30px;
}

.grid-block .block-title{
	margin-top:10px;
}

.grid-block .offer-price-1{
	padding:14px 15px 11px;
}

.grid-block .offer-price-1 li.price{
	font-size:22px;
}

.grid-block .offer-price-1 li.price .pkg{
	font-size:14px;
	top:-3px;
}

.grid-block .offer-price-1 li.price .divider{
	margin:0px 8px;
	top:-3px;
}
	
.grid-btn .btn{
	padding:9px;
	margin-top:20px;
}   


/************ TOUR-GRID BLOCK ***********/
   
.t-grid-info .block-minor{
	font-size:13px;
}

/********** CRUISE-GRID BLOCK ***********/

.crs-grid-info .block-title{
	font-size:17px;
}

.crs-grid-info .block-minor{
	font-size:12px;
}

/************ CAR-GRID BLOCK ************/

.block-info .car-features{
	margin: 18px 0 -3px 0;
}


.block-info .car-features li{
	text-transform:uppercase;
	font-size:10px;
	text-align:center;
	padding: 0 5px 0 0px;
	margin: 0;
}


.block-info .car-features li .fa{
	display:block;
	width:35px;
	height:35px;
	padding-top:10px;
	font-size:15px;
}

/* -----------------------------------------------------
		List Block
   ----------------------------------------------------- */

.list-block{
	margin-bottom:40px;
}

.list-block .main-mask{
	bottom:20px;
}

.list-block .list-img{
	width:100%;
}

.list-block .list-info{
	padding:30px;
}

.list-block .list-info a{
	text-decoration:none;
}

.list-block .list-info .block-title{
	font-size:24px;
}

.list-block .list-info .block-minor{
	font-weight:normal;
	margin-bottom:10px;
}

.list-block .list-info .btn{
	padding:6px 21px 7px;
	font-size:12px;
	margin-top:15px;
}

/*********** FLIGHT-LIST BLOCK **********/

.f-list-img .f-img{
	padding:28px 26px;
	text-align:center;
}

.f-list-info{
	padding:20px 30px;
}

.f-list-info h3{
	font-size:24px;
}

.f-list-info .block-minor{
	font-size:14px;
}

.f-list-info .btn{
	margin-top:17px;
	font-size:12px;
	padding:6px 22px;
}

.f-list-img .offer-price-1 .duration{
	font-size:13px;
	text-transform:none;
}

.f-list-img .offer-price-1 .duration i{
	font-size:20px;
	margin-right:8px;
}

.f-list-img .offer-price-1 .duration span{
	position:relative;
	top:-2px;
}

.f-list-img .offer-price-1 .price{
	float:right;
	margin-top:0px;
}

/************ CAR-LIST BLOCK ************/

.cr-list-info .car-features{
	margin:23px 0px 15px;
}

.cr-list-info .car-features li{
	text-transform:uppercase;
	font-size:13px;
	padding-left:0px;
	padding-right:2px;
	margin-top:8px;
	text-align: center;
}

.cr-list-info .car-features li .fa{
	width:55px;
	height:49px;	
	font-size:20px;
	margin-bottom:5px;
	padding-top:13px;
	display: block;
}

/* -----------------------------------------------------
		Pagination
   ----------------------------------------------------- */

.pages.pagination-margin{
	text-align:center;
	margin: 100px 0 0 0;
}

.pages .pagination{
	margin:40px 0px 0px;
}

.pages .pagination li a{
	margin-top:14px;
}

.pages .pagination li a{
	font-size:18px;
	margin-left:6px;
	margin-right:6px;
	padding:6px 14px;
}

.pages .pagination li:first-child a,
.pages .pagination li:last-child a{
	padding:6px 16px;
}
   
/* -----------------------------------------------------
		Detail Pages Tabs
   ----------------------------------------------------- */

.detail-tabs{
	margin:88px 0px;
}

.detail-tabs .nav-tabs li a{
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	padding:13px 10px;
}

.detail-tabs .tab-content .tab-pane{
	padding:35px 30px;
}

.detail-tabs .tab-pane .tab-img img{
	width:100%;
}

.detail-tabs .tab-pane .tab-text{
	padding-top:25px;
}

.detail-tabs .tab-pane .tab-text h3{
	font-weight:bold;
	text-transform:uppercase;
	font-size:20px;
	margin-bottom:13px;
}

.detail-tabs .tab-pane .tab-text p{
	width:95%;
	line-height:1.55em;
}

.available-blocks h2{
	font-size:28px;
	font-weight:bold;
	margin-bottom:45px;
}


/* -----------------------------------------------------
		Custom Forms
   ----------------------------------------------------- */

.custom-form{
	padding:45px 40px 55px;
}

.custom-form h3{
	font-size:25px;
	text-transform:uppercase;
	margin-bottom:10px;
}

.custom-form p{
	line-height:1.3em;
	font-size:13px;
}

.custom-form form{
	margin-top:40px;
}

.custom-form .form-group{
	position:relative;
}

.custom-form .form-group .fa{
	position:absolute;
	top:14px;
	left:15px;
	font-size:18px;
}

.custom-form .form-group .fa-envelope{
	font-size:15px;
	top:15px;
}

.custom-form .form-group input{
	height:45px;
	padding-left:40px;
}

.custom-form .form-group textarea{
	padding-left:40px;
	padding-top:14px;
	height:97px;
}

.custom-form .checkbox{
	margin-bottom:40px;
	font-size:13px;
}

.custom-form .checkbox input{
	top:-2px;
}

.custom-form button{
	height:45px;
	font-size:16px;
	margin-top:25px;
}

.custom-form .other-links{
	text-align:center;
	margin-top:27px;
}

.custom-form .link-line{
	font-size:14px;
	margin-bottom:0px;
}

.custom-form .link-line > a{
	font-weight:bold;
}

.custom-form .simple-link{
	text-decoration:underline;
	display:inline-block;
	margin-top:20px;
}

.custom-check input[type="checkbox"] {
    display:none;
}

.custom-check input[type="checkbox"] + label {
	font-weight:normal;
	cursor:pointer;
}

.custom-check input[type="checkbox"]:not(:checked) + label .fa-check{
	display:none;
}

.custom-check input[type="checkbox"]:checked + label .fa-check{
	display:block;
}

.custom-check input[type="checkbox"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin:-2px 15px 0 0;
    vertical-align:middle;
    cursor:pointer;
	text-align:center;
	font-size:12px;
	padding-top:1px;
}


/************ PAGE-SEARCH-FORM ***********/

.page-search-form{
	margin-bottom:80px;
	padding:30px 40px 45px;
}

.page-search-form h2{
	margin-bottom:25px;
	text-transform:uppercase;
	font-size:38px;
	word-spacing:5px;
}

.page-search-form .tab-pane{
	padding-top:30px;
}

.pg-search-form label{
	margin-bottom:10px;
}

.pg-search-form label .fa{
	margin-right:8px;
}

.pg-search-form .btn{
	margin-top:15px;
	padding:8px 34px;
}


/************ FULL PAGE FORMS ************/

.colored-border{
	height:10px;
}

#full-page-form{
	padding:80px 0px;
}

.full-page-title{
	text-align:center;
	margin-bottom:80px;
}

.full-page-title .company-name{
	font-size:47px;
}

.full-page-title .company-name .fa{
	font-size:65px;
}

.full-page-title p{
	width:600px;
	margin:35px auto;
	font-size:16px;
}

#full-page-form .custom-form h3,
.full-page-copyright{
	text-align:center;
}

.full-page-copyright{
	margin-top:50px;
}

/* -----------------------------------------------------
		Video Modal
   ----------------------------------------------------- */

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}



/************ ABOUT US PAGE *************/

#about-content .about-img img{
	width:100%;
}

#about-content .about-detail{
	padding:63px 47px 63px;
}

#about-content .about-detail h2{
	font-size:32px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:18px;
}

#about-content .about-detail p:nth-of-type(1){
	font-size:16px;
	line-height:1.35em;
	margin-bottom:23px;
}

#about-content .about-detail p:nth-of-type(2){
	font-size:15px;
	margin-bottom:0px;
}

#owl-team .item{
	padding:15px;
	text-align:center;
}



/************** ERROR PAGE **************/

#error-text{
	text-align:center;
}

.company-name{
	font-size:38px;
	text-transform:uppercase;
	font-weight:900;
	margin-bottom:-15px;
}

.company-name .fa{
	font-size:55px;
	margin-right:13px;
	position:relative;
	top:5px;
}

#error-text h2{
	font-size:316px;
	font-weight:300;
	margin-bottom:-55px;
}

#error-text p{
	font-size:30px;
	text-transform:uppercase;
	width:510px;
	margin:0 auto 70px;
	line-height:1.35em;
}

#error-text .btn{
	font-size:20px;
	padding:14px 50px;
}

/************* ERROR PAGE 2 *************/

.full-page-body{
    display: table;
    height: 100%;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.full-page-wrapper{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.full-page-wrapper .full-page-content{
    min-height: 400px;
	padding:70px 0px;
}

.error-page-2-circle h2{
	font-size:75px;	
	height:220px;
	width:220px;
	text-align:center;
	padding-top:55px;
	display:inline-block;
	position:relative;
	z-index:9999;
}

.error-page-2-text h2{
	font-size:36px;
	margin-bottom:20px;
}

.error-page-2-text p{
	font-size:18px;
	margin-bottom:20px;
}

.error-page-2-text .btn{
	margin-top:20px;
	border-radius:30px;
	font-size:18px;
	padding:12px 45px;
}




/************** CARD PAGE **************/

.my-cards a{
	text-decoration:none;
}

.card-block{
	padding:28px 35px;
	margin-top:33px;
	min-height:319px;
	position:relative;
}

.card-block .card-number{
	font-size:34.59px;
	margin-bottom:3px;
}

.card-block .card-expiry{
	font-size:21.14px;
	margin-bottom:30px;
}

.card-block .primary-tag{
	position:absolute;
	right:-1px;
	top:-1px;
	padding:7px 15px 7px;
}

.card-block .primary-tag h4{
	font-size:14px;
	margin-bottom:0px;
}

.card-block h4{
	font-size:20px;
	margin-bottom:4px;
}

.card-block .card-name{
	margin-bottom:33px;
}

.card-block .user-name{
	font-size:24.98px;
	font-weight:900;
}

.card-block ul li.fa-icons {
	float: right;
}

.card-block ul li .btn span i.fa{
	font-size: 30px;
}

.card-block ul li.card-links{
	/*float:right;*/
	/*text-align: right;*/
	/*margin: 0 0 0 auto;*/

}

.card-block ul li.card-links .btn{
	margin-left:25px;
	font-size:34px;
	padding:0px;
}

.card-block.add-card{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	text-align:center;
}

.card-block.add-card .fa{
	font-size:70px;
	margin-bottom:15px;
}

.custom-modal .modal-content{
	position:relative;
	overflow:hidden;
}

.custom-modal .modal-content:after{
	content:'';
	position:absolute;
	display:block;
	height:100px;
	width:100px;
	right:-50px;
	bottom:-50px;
	transform:rotate(-45deg);
}

.custom-modal .modal-content{
	padding:20px 30px 30px;
}

.custom-modal .modal-body label{
	font-weight:400;
	margin-top:10px;
}

.custom-modal .modal-body .btn{
	margin-top:25px;
	padding:8px 25px;
}


/************* HOLIDAYS PAGE *************/

#holiday-trips .owl-holidays .item{
	padding:15px;
}

.big-heading h2{
	font-size:80px;
	font-weight:900;
	text-transform:uppercase;
	text-align:center;
	line-height:0.73em;
	margin-top:-145px;
	margin-bottom:70px;
}

#popular-destinations li{
	margin-top:15px;
	position:relative;
	padding-left:25px;
}

#popular-destinations li:before{
	content:'\f101';
	font-family: "FontAwesome";
	position:absolute;
	top:0px;
	left:0px;
	font-size:20px;
}

#popular-destinations li a{
	font-size:17px;
	font-weight:bold;
	text-decoration:none;
}





.detail-box p{
	padding: 12px;
    margin-top: 15px;
}

/*-------------------------------
Trending Tour Area Start
--------------------------------*/
.tranding-tour {
  padding: 62px 0px 70px;
  background: url(../images/tt-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tranding-tour .header-area {
  margin-bottom: 22px;
}
.tranding-tour .header-area .title {
}

.tour-slider {
  position: relative;
}
.tour-slider .owl-controls .owl-nav .owl-prev,
.tour-slider .owl-controls .owl-nav .owl-next {
  font-size: 14px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  top: -45px;
  line-height: 30px;
  opacity: 1;
  background: #fff;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.tour-slider .owl-controls .owl-nav .owl-prev:hover,
.tour-slider .owl-controls .owl-nav .owl-next:hover {
  background: #e4f8ff;
}
.tour-slider .owl-controls .owl-nav .owl-prev {
  right: 40px;
}
.tour-slider .owl-controls .owl-nav .owl-next {
  right: 0%;
}

.single-tours {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.single-tours .img-area {
  position: relative;
  overflow: hidden;
}
.single-tours .img-area img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.single-tours .img-area .discount {
  position: absolute;
  font-size: 14px;
  color: #fff;
  background: #53bc1c;
  height: 20px;
  width: 100px;
  left: -25px;
  top: 10px;
  text-align: center;
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
  z-index: 3;
}
.single-tours .img-area .feature {
  top: 20px;
  position: absolute;
  padding: 0px 10px 0px 20px;
  border-radius: 50px 0px 0px 50px;
  right: 0px;
  font-size: 14px;
  color: #fff;
  background: #0663fc;
  height: 20px;
  z-index: 3;
}
.single-tours .content {
  padding: 20px 20px 10px;
  position: relative;
}
.single-tours .content .add-favotite {
  position: absolute;
  right: 20px;
  top: -15px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #53bc1c;
  border-radius: 50%;
  border: 2px solid #fff;
}
.single-tours .content .country {
  font-size: 13px;
  margin-bottom: 5px;
}
.single-tours .content .country i {
  font-size: 10px;
  margin-right: 5px;
}
.single-tours .content .title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  height: 37px;
}
.single-tours .content .review-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
}
.single-tours .content .review-area .stars {
  margin-right: 15px;
}
.single-tours .content .review-area .stars li {
  display: inline-block;
  font-size: 12px;
  margin-right: -4px;
  color: #53bc1c;
}
.single-tours .content .review-area .review {
  font-size: 14px;
  position: relative;
  top: 3px;
  color: #58606f;
}
.single-tours .content .price-area-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.single-tours .content .price-area-wrapper .left-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.single-tours .content .price-area-wrapper .left-area .icon {
  color: #53bc1c;
  margin-right: 10px;
}
.single-tours .content .price-area-wrapper .left-area .price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #58606f;
}
.single-tours .content .price-area-wrapper .left-area .price small {
  display: block;
  font-size: 10px;
  line-height: 12px;
  color: #53bc1c;
}
.single-tours:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.single-tours:hover .img-area img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.time-counter {
  margin-top: 0px;
  display: block;
}

.time-counter span {
  display: inline-block;
  margin-right: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #2a3a57;
  margin-bottom: 0px;
}

.time-counter span:last-child {
  margin-right: 0px;
}

.time-counter span small {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ff431e;
}

/*-------------------------------
Trending Tour Area End
--------------------------------*/
/*-------------------------------
Top Dastination Area start
--------------------------------*/
 .user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}
.carousel-testimonial .item {
    padding: 30px 10px;
}
.quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
    color: #adadad;
    font-size: 14px;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    height: 25px;
}
.owl-nav button svg {
    width: 25px;
    height: 25px;
}
.owl-nav button.owl-prev {
    left: 25px;
}
.owl-nav button.owl-next {
    right: 25px;
}
.owl-nav button span {
    font-size: 45px;
}
.product-thumb .item img {
    height: 100px;
}  

.drop-menu{
  padding: 9px !important;
    font-size: 13px !important;
    border-bottom: 1px solid #CCD;
    background: #99c0c7;
    width: 127px;

} 

.hotel-right .price-area {
    background: #8a06fc5e;
    padding: 19px 20px 20px;
    overflow: hidden;
    position: relative;
}
.aside-right .price-area p {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 0px;
}
.aside-right .price-area p small {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #163cc5;
    margin-left: -5px;
}
.aside-right .price-area .discount {
    position: absolute;
    font-size: 13px;
    color: #fff;
    background: #53bc1c;
    height: 20px;
    width: 100px;
    right: -32px;
    line-height: 20px;
    top: 11px;
    text-align: center;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
    z-index: 3;
}